@font-face {
  font-family: Gill-Sans;
  src: url(../css/fonts/GillSans.ttc);
}
@font-face {
  font-family: Proxima-Nova-thin;
  src: url(../css/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: Proxima-Nova-extra-condensed;
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
