.home {
  width: 1280px;
  min-height: 800px;

  .hero {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.25),
        rgba(1, 1, 1, 0.5)
      ),
      url(../../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 150px;

    .center-note {
      width: 714px;
      max-height: 50px;
      margin: 0 auto;
      //border: solid 1px red;
    }
    .travel-fly {
      text-align: center;
      color: white;
      font-size: 60px;
      font-family: Proxima-Nova-extra-condensed;
      margin-bottom: 30px;
    }
    .intro-paragraph {
      text-align: center;
      color: white;
      font-size: 25px;
      font-family: Proxima-Nova-extra-condensed;
    }
    .read-more {
      background-color: #7acdfe;
      padding: 5px;
      color: white;
      font-size: 15px;
      width: 121px;
      height: 40px;
      text-align: center;
      margin: 30px auto 0 auto;
    }
  }
  .promo-holder {
    width: 1280px;
    height: 304px;
    .promo-trips {
      width: 873px;
      height: 304px;
      display: flex;
      justify-content: space-between;
      margin: -74px auto 0 auto;
      // border: dotted 1px brown;
      .isreal {
        width: 236px;
        height: 304px;
        background-image: url(../../images/tour/tour-israel/israel-tour-02.jpg);
        background-size: cover;
        background-position: center;
      }
      .usa {
        width: 236px;
        height: 304px;
        background-image: url(../../images/tour/tour-usa/usa-tour-02.jpg);
        background-size: cover;
        background-position: center;
      }
      .austrailia {
        width: 236px;
        height: 304px;
        background-image: url(../../images/tour/tour-aus/aus-tour-03.jpg);
        background-size: cover;
        background-position: center;
      }

      .promos {
        width: 236px;
        height: 304px;
        color: white;
        background-color: lightblue;

        .title {
          text-align: center;
          color: white;
          font-size: 60px;
          font-family: Proxima-Nova-extra-condensed;
        }
        .price {
          text-align: center;
          font-size: 30px;
          font-family: Proxima-Nova-extra-condensed;
        }
        .learn-more {
          font-size: 15px;
          font-family: Gill-Sans;
          text-align: center;
          margin: 50px;
          padding: 5px;
          background-color: #7acdfe;
          border-radius: 15px;
        }
      }
    }
  }
  .booking {
    min-height: 400px;
    background-color: lightblue;
    padding: 50px;
    .booking-wrapper {
      max-width: 818px;
      margin: 0 auto;
      border: solid 1px pink;
      h1 {
        font-size: 60px;
        text-align: left;
      }
      .long-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      }
      label {
        display: inline;
      }

      input {
        width: 698px;
        height: 58px;
        border: solid 1px #7acdfe;
      }
    }
  }
}
